*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body {
  height: 100vh;
  width: 100vw;
} */

/* Font styling for viewbox */
.viewbox {
  font-size: 2rem;
  font-family: 'IBM Plex Sans';
  font-weight: 700;
}

.viewbox p {
  color: hsl(0, 0%, 0%, 0.75);
  font-weight: 400;
  font-size: 1.2rem;
}

.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 2em; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    border-right: 0.5px solid #D8D8D8;
  }

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 1rem;
    cursor: pointer;
    color: white;
    padding: 1em;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    border: none;
  }


.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }


.mail {
    background-image: url(./res/mail.ico);
}

.profile {
  margin-bottom: 1.5rem;
}

.avatar {
    width: 64px;
    height: 64px;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: hsl(0, 0%, 0%, 0.25) 0px 4px 4px;
    display: block;
}

.nav-container {
    padding: 1em;
    font-family: 'IBM Plex Mono', monospace;
}

.contact-nav {
  margin-bottom: 2rem;
}

.contact__ul, li {
  font-family: /* 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  'IBM Plex Sans';
  list-style-type: none;
  padding: 0;
  margin-bottom: 0.4rem;
}

.contact__ul, li, a {
  text-decoration: none;
  font-family: /* 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  'IBM Plex Sans';
  font-size: 1rem;
  color: black;
  display: inline-block;
}

.contact__ul, li, a:hover {
  text-decoration: underline;
  color: #0085FF;
  transform: 0.7s;
}

.info {
  margin-bottom: 2rem;
}

.name {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-shadow: hsl(0, 0%, 0%, 0.25) 0px 2px 8px;
  font-family: /* 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  'IBM Plex Sans';
}

.description {
  font-size: 1rem;
  color: black;
  font-family: /* 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  'IBM Plex Sans';
}

.inf {
  display: block;
  padding: 0.75em 1em;
  /* border: 1px solid red; */
  margin: 0.25rem 0rem;
  background-color: white;
  display: block;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
  font-size: small;
}

.inf:hover {
  background-color: #f5f5f5;
  text-decoration: none;
}

.inf:active{
  color: #0085FF;
  border-radius: 4px;
  border-left: 4px solid #0085FF;
}


.viewbox {
  border: 1px solid rgb(226, 226, 226);
  min-height: 100vh;
  overflow-y: hidden;
  margin: 1rem;
  border-radius: 1rem;
  padding: 1em;
}

.experience {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.work-card {
  border: 1px solid hsl(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 0.5em;
  width: 300px;
  box-shadow: 2px 2px 8px hsl(0, 0%, 0%, 0.25);
  margin: 1rem 1rem 1rem 0rem;
}

.btn {
  color: white;
  font-family: inherit;
  font-size: small;
  font-weight: 600;
  background-color: #091e31;
  border: 0;
  padding: 0.5em 1em;
  border-radius: 4px;
}

.btn:hover {
  background-color: #2f3235;
}

  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

@media screen and (min-width: 768px) {
    .sidebar {
      width: 253.172px;
    }

    body {
      margin-left: 246.281px;
    }

    .closebtn {
      display: none;
    }

    .openbtn {
      display: none;
    }

    
}

.disabled {
  background-color: rgb(214, 214, 214);
}

.disabled:hover {
  background-color: rgb(214, 214, 214);
}

@media screen and (max-width: 768px) {
  .experience {
    flex-flow: column;
  }
}